
/* =========== Application Components ======= */


/* ------- Button -------- */

.btn-marvel{
	
	font-family: 'Anton', sans-serif;
	border-radius:0;
	background-color:$red;
	text-transform:uppercase;
	border:none;
	font-size:30px;
}
